@font-face {
    font-family: "HM Sans";
    src: url("HM\ Sans\ Regular.ttf");
}
* {
    font-family: "HM Sans";
}
body, html {
    background-color: hsl(0, 0%, 10%);
    color: white;
    height: 100%;
    margin: 0px;
}

.logo img{
    width: 53%;
    padding: 25px 25px 10px 25px;
}
.sidebar {
    width:16%;
    height: 100%;
    background-color: black;
    display: absolute;
    left: 0px;
    font-size: 15px;

}

.icon {
    width: 20px;
    padding: 5px;
}
.icon2 {
    width: 24px;
    padding: 2px;

}

.side-btn {
    display: flex;
    align-items: center;
    width: 90%;
    height: 2.5rem;
    padding: 15px;
    margin: 0% 5%;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
}
.side-btn:hover {   
    background-color: #282828;
}
.side-btn span{
    padding-left: 15px;
}

.btn-grp {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 8%;
}

.content {
    display: flex;
    width: 100%;
    height: 87%;

}
.pagerr{
    width: 84%;
    background-color: #444444;
    background-image: linear-gradient(180deg, #444444 0%, #000000 27%, #000000 100%);
 
    overflow: auto;
}
.icon-grp {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.icon-grp img{
    width: 80px;
    padding: 12px 15px;
}

#user {
    width: 80%;
    height: auto;
}
.user-outer {
    max-width: 150px;
    margin: 10px;
}

.titleee {
    margin: 5px 25px;
    font-size: 35px;
}
#row2 {
    justify-content: flex-start;
    margin-left: 1%;
}
.card {
    width: 23%;
    background-color: #303030;
    height: 80px;
    margin: 1% 0% 0% 0%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.icon3 {
    height: 100%;
    width: 80px;
    padding-right: 30px;
    margin: 0px;
}
.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: -100px;
}

.shows {
    font-size: 25px;
    padding: 10px 0px 0px 0px;
}

.show-card {
    width: 15%;
    background-color: hsl(0, 0%, 9%);
}
.show-img {
    border-radius: 5px;
    padding: 10%;
    width: 100%;
    box-sizing: border-box;
}
.artist {
    font-size: smaller;
    color: #9d9d9d;
}
.show-card span {
    padding-left: 10%;
}

#playlist-grp {
    font-size: 14px;
    padding: 0px;
    margin-top: -9px ;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    max-width: 100%;
    z-index: 100;
    overflow: hidden;
}

.player div {
    height: 50%;
    width: auto;
}

.player div img {
    height: 100%;
}

.line {
    height: 110%;
    width: auto;
}
.line img{
    height: 100%;
    width: auto;
}

.songer {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.songer-playing {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.songer-playing img{
    width: auto;
    height: 100%;
    margin: 10px;
}
#right-opt {
    height: 35%;
    width: auto;
}
#lineee {
    height: 70%;
    width: auto;
}
.green {
    height: 3%;
    display: flex;
    justify-content: flex-end;
    background-color: #1ed760;
    color: black;
    font-weight: 800;
}
.green span {
    margin-right: 60px;
    font-size: smaller;
}

#iccc {
    width: 30px;
    height: 30px;
}

.seeall {
    font-weight: 800;
    position: relative;
    left: 93%;
    bottom: 20px;
    color: #626262;
    font-size: smaller;
}
#installer {
    padding-right: 20px;
}

@media(max-width: 500px) {
    .btn-grp {
        display: none;
    }
    .btn-grp1 {
        display: block;
        padding: 10px 0px;
    }
    .logo {
        display: none;
    }
    .side-btn {
        padding-left: 10%;
    }
    .titleee {
        font-size: 25px;
        margin-left: 10px;
    }
    .top-card-row {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        padding: 10px 10px;
        font-size: 13px;
    }
    .top-card-row .card{
        width: 100%;
    }
    .pagerr {
        margin-left: 0%;
    }
    .card {
        height: 35px;
    }
    .icon3 {
        padding-right: 5px;
        width: auto;
    }
    #row2 {
        padding: 0px 10px;
    }
    #row2 .card{
        grid-column: span 2;
    }
    .shows {
        font-size: 19px;
    }
    .seeall {
        font-size: 10px;
        left: 78%;
        top: 10%;
    }
    .show-card{
        width: 100%;
    }
    .songer {
        font-size: 15px;
    }
    #lineee {
        width: 100%;
    }
    #lineee img {
        width: 100%;
    }
    .player div {
        height: 50%;
        width: 100%;
        font-size: 13px;
    }
    #right-opt {
        display: none;
    }
    .green {
        display: none;
    }
    .player {
        flex-direction: column;
        height: 13%;
    }

}